.card-style:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hover-card {
      transition: all 0.3s ease;
}

.hover-card:hover #view-btn {
      display: flex;
}

.hover-card:hover .card-image {
      margin-top: 0;
      transition: margin-top 0.3s ease;
}

.location {
      background: linear-gradient(0deg, #000 0.1%, rgba(0, 0, 0, 0.00) 100%);
}

.home-slider-place {
      color: #FFF;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
}

.border-radius-style {
      color: white;
      background-color: #dc3545;
      text-align: center;
      text-transform: uppercase;
      padding: 8px 20px;
      margin: 10px;
      display: inline-block;
}

.button-slanted {
      -ms-transform: skewX(-30deg);
      -webkit-transform: skewX(-30deg);
      transform: skewX(-30deg);
}

.button-slanted-content {
      -ms-transform: skewX(20deg);
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);

}
